i[class^="icon"] {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: $color-main;
  background-repeat: no-repeat;
}
.icon-help {
  background-image: url(~@/assets/images/icon/icon-help.png);
}
